.dropdown {
    position: relative;
    display: inline-block;
}

select {
    width: 220px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

/* Style for the date picker */
input[type="date"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    background-color: #007bff;
    transition: all 0.3s ease;
    cursor: pointer;
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}

button i {
    margin-right: 3px;
    font-size: 18px;
    align-items: center;
}